.carousel-off {
	display: none;
}
.carousel {
	.carousel-control {
		&.left {
		background-image: none;
		}
		&.right {
		background-image: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.carousel {
		display: none;
	}
	.carousel-off {
		display: block;
		font-weight: 700;
		.carousel-title {
			font-weight: 700;
			font-family: 'Lato';
			color: #f2f2f2;
		}
	}
}