.features {
	padding-bottom: 25px;
	position: relative;
	&-ico {
		float: left;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 2px solid $text-color;
		display: flex;
		margin-right: 20px;
		.icon {
			margin: auto;
		}
	}
	&-holder {
		&-title {
			font-weight: 700;
		}
		&-description {
			font-size: $font-size-small;
		}
	}
}