.features {
	padding-left: 100px;
	padding-bottom: 25px;
	position: relative;
	&:after {
		content: '';
		width: 75px;
		height: 75px;
		border-radius: 50%;
		border: 2px solid $gray-base;
		left: 0;
		top: 0;
		position: absolute;
	}
	&-title {
		font-weight: 700;
		margin-top: 0;
	}
	&-description {
		font-weight: 400;
		font-size: $font-size-small;
	}
}