.team {
	&-title {
		font-weight: 700;
	}
	&-description {
		display: block;
		font-size: 12px;
		padding-bottom: 20px;
	}
	&-social {
		.circle {
			display: inline-block;
			margin-right: 10px;
			width: 30px;
			height: 30px;
			border: 1px solid $text-color;
			border-radius: 50%;
		}
	}
}